@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

* {
  font-family: Rajdhani, sans-serif;
  letter-spacing: .1em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}